<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  <% if (locals.user.monzo) { %>
    <h2>Monzo account connected</h2>
    <ul>
      <li>Name: <%=user.monzo.accounts[0].description %></li>
      <li>User ID: <%=user.monzo.user_id %></li>
      <li>Account ID: <%=user.monzo.accounts[0].id %></li>
      <li>Access token: <input type="text" value="<%=user.monzo.access_token %>" /></li>
      <li>Refresh token: <input type="text" value="<%=user.monzo.refresh_token %>" /></li>
    </ul>
    <% if (locals.balance) { %>
    <ul>
      <li>Card balance: £<%=balance.balance %></li>
    </ul>
    <% } %>
    <% if (locals.data.webhooks) { %>
    <ul>
      <% for( var i in data.webhooks) { %>
      <li>Webhook: <%=data.webhooks[i].id %> | <%=data.webhooks[i].url %></li>
      <% } %>
    </ul>
    <% } %>
    <p><a href="/monzo/disconnect">Disconnect Monzo</a></p>
  <% } else { %>
    <p><a href="/monzo/login">Connect Monzo</a></p>
  <% } %>
  <hr>
  <% if (locals.user.crunch) { %>
    <h2>Crunch account connected</h2>
    <ul>
      <li>oauth_token: <%=user.crunch.oauth_token %></li>
      <li>oauth_token_secret: <%=user.crunch.oauth_token_secret %></li>
    </ul>
    <p><a href="/crunch/disconnect">Disconnect Crunch</a></p>
  <% } else { %>
    <p><a href="/crunch/login" target="_blank">Connect Crunch</a>
    <form method="GET" action="/crunch/connect">
      <p>
        <input type="text" name="code" placeholder="Crunch verification code" />
        <button type="submit">Connect</button>
      </p>
    </form>
  <% } %>

</body>
</html>
